{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart - PaperCut</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>PaperCut - Cart</h1>
    </header>

    <main>
        {% if cart_items %}
        <div class="product-grid">
            {% for item in cart_items %}
            <div class="product-card">
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" alt="No image">
                {% endif %}

                <h2>{{ item.product.name }}</h2>
                <p class="desc">{{ item.product.description }}</p>
                <p class="price">₹ {{ item.product.price }}</p>

                <form action="{% url 'update_cart' item.product.pk %}" method="post" class="cart-form">
                    {% csrf_token %}
                    <label>Quantity:
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="quantity_input" style="background:#1a1a1a;color:#fff;border:1px solid #444; border-radius: 3px; text-align: center;font-size: 14px;outline: none;border: 1px solid #444;">
                    </label>
                    <button type="submit" class="btn-link">Update</button>
                </form>

                <form action="{% url 'remove_from_cart' item.product.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="Back">Remove</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <div class="product-detail" style="text-align:center;">
            <h2>Total: ₹ {{ cart_total }}</h2>
            <a class="btn-link">Checkout</a>
        </div>vhg

        {% else %}
            <p class="desc" style="text-align:center;">Your cart is empty. <br> <a href="{% url 'home' %}" class="Back">Go shopping!</a> </p>
        {% endif %}
    </main>
</body>
</html>
